<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivymobi.abb.pw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity_"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SettingActivity_"
            android:label="@string/setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BusinessActivity_"
            android:label="@string/business"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TourActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.EventActivity_"
            android:label="@string/event"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DownloadActivity_"
            android:label="@string/download"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SolutionActivity_"
            android:label="@string/solution"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactActivity_"
            android:label="@string/contact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingMailSignActivity_"
            android:label="@string/mail_sign" />
        <activity
            android:name=".activity.VideoActivity_"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.WebActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImageActivity_"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.PDFActivity_" />
        <activity android:name=".activity.LocalPDFActivity_" />
        <activity
            android:name=".activity.CollectionActivity_"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5644114967e58ef4b00013ec"></meta-data>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
